md-card md-card-header{
  background: #3e474f;
  color:rgba(255,255,255,0.8);
    height: 30px
}

md-card-title-text,
md-card-content {
  color:rgba(255,255,255,0.8);
}

md-tabs .md-tab.md-active {
  color: #2cb5e8;
}
md-tabs md-ink-bar {
  background: #2cb5e8;
}

.md-tab {
  font-weight: 600;
  letter-spacing: 0.1em;
}

.proj-card {
  margin-left: auto;
  margin-right: auto;
}

.proj-img {
  width:auto;
  max-width: 100%;
  height:400px
}

.proj-col {
  width: 50%;
}

.flex-50, .layout-row > .flex-50 {
    max-width: 100%;
}

.md-tab:hover {
  background-color: rgba(255, 255, 255, .4)
}

.expand-btn{
  position: absolute;
  top: 1em;
  right: 1em;
}

md-card {
  background-color:#3e474f;
}


@media only screen and (max-width: 600px) {
  .md-media-md {
    height: 350px;
  }
  .proj-col {
    width: 100%;
  }
 }

 #res:hover  {
   opacity: 0.7;
 }

 .text {
  font-size: 16px;
  padding: 16px 32px;
}
