md-card md-card-header {
  background: #3e474f;
    color: white;
    height: 40px
}


.md-button.md-accent {
  color: #005a8b;
}
md-nav-bar md-nav-ink-bar {
  background:#005a8b;
}

.md-button {
  font-weight: 600;
  letter-spacing: 0.1em;
}

.md-button._md-nav-button:focus {
  background-color: transparent;
}

.md-button._md-nav-button:hover {
  background-color: rgba(58, 58, 58, 0.1)
}

.proj-card {
  margin-left: auto;
  margin-right: auto;
}

.flex-50, .layout-row > .flex-50 {
    max-width: 100%;
}
